# Exercise Set 4: Data Structuring 1

*Afternoon, August 14, 2018*

In this Exercise Set we will apply some of the basic things we have learned with pandas.

#### Load modules
We begin by loading relevant packages.

In [3]:
import numpy as np
import pandas as pd

##  Exercise Section 4.1: Weather, part 1

Some data sources are open and easy to collect data from. They can be 'scraped' as is and they are already in a table format. This Exercise part of exercises is the first part of three that work with weather data, the follow ups are Exercise Sections 6.1 and 7.1. Our source will be National Oceanic and Atmospheric Administration (NOAA) which have a global data collection going back a couple of centuries. This collection is called Global Historical Climatology Network (GHCN). A description of GHCN can be found [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/readme.txt).


> **Ex. 4.1.1:** Use Pandas' CSV reader to fetch  daily data weather from 1864 for various stations - available [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/). 

> *Hint 1*: for compressed files you may need to specify the keyword `compression`.

> *Hint 2*: keyword `header` can be specified as the CSV has no column names.

> *Hint 3*: Specify the path, as the URL linking directly to the 1864 file.

In [5]:
# [Answer to Ex. 4.1.1]
url = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz'

df_weather = pd.read_csv(url,
                        compression='gzip',
                        header=None)
print(df_weather)

                 0         1     2    3    4    5  6   7
0      ITE00100550  18640101  TMAX   10  NaN  NaN  E NaN
1      ITE00100550  18640101  TMIN  -23  NaN  NaN  E NaN
2      ITE00100550  18640101  PRCP   25  NaN  NaN  E NaN
3      ASN00079028  18640101  PRCP    0  NaN  NaN  a NaN
4      USC00064757  18640101  PRCP  119  NaN  NaN  F NaN
5      SF000208660  18640101  PRCP    0  NaN  NaN  I NaN
6      ASN00089000  18640101  PRCP    0  NaN  NaN  a NaN
7      SWE00100003  18640101  PRCP    0  NaN  NaN  E NaN
8      ASN00086071  18640101  TMAX  214  NaN  NaN  a NaN
9      ASN00086071  18640101  TMIN  101  NaN  NaN  a NaN
10     ASN00086071  18640101  PRCP    0  NaN  NaN  a NaN
11     USP00CA0003  18640101  PRCP    0  NaN  NaN  F NaN
12     USC00189674  18640101  PRCP    0  NaN  NaN  F NaN
13     USC00144559  18640101  PRCP    0  NaN  NaN  F NaN
14     USC00144559  18640101  SNOW    0  NaN  NaN  F NaN
15     CA006158350  18640101  TMAX   11  NaN  NaN  C NaN
16     CA006158350  18640101  TMIN -133  NaN  NaN  C NaN
17     CA006158350  18640101  PRCP    5  NaN  NaN  C NaN
18     CA006158350  18640101  SNOW    5  NaN  NaN  C NaN
19     HRE00105189  18640101  PRCP  189  NaN  NaN  E NaN
20     ASN00067054  18640101  PRCP   61  NaN  NaN  a NaN
21     ASN00081003  18640101  PRCP    0  NaN  NaN  a NaN
22     ASN00078037  18640101  PRCP    0  NaN  NaN  a NaN
23     ASN00070037  18640101  PRCP    0  NaN  NaN  a NaN
24     EIE00101859  18640101  TMAX   94  NaN  NaN  E NaN
25     EIE00101859  18640101  TMIN   11  NaN  NaN  E NaN
26     EIE00101859  18640101  PRCP   82  NaN  NaN  E NaN
27     ASN00040214  18640101  PRCP    3  NaN  NaN  a NaN
28     BE000006447  18640101  TMAX  -23  NaN  NaN  I NaN
29     BE000006447  18640101  TMIN  -36  NaN  NaN  I NaN
...            ...       ...   ...  ...  ...  ... ..  ..
27318  ASN00066062  18641231  TMAX  223  NaN  NaN  a NaN
27319  ASN00066062  18641231  TMIN  172  NaN  NaN  a NaN
27320  ASN00066062  18641231  PRCP   41  NaN  NaN  a NaN
27321  ASN00023000  18641231  PRCP    0  NaN  NaN  a NaN
27322  SW000010537  18641231  PRCP    0  NaN  NaN  E NaN
27323  ASN00022018  18641231  PRCP    0  NaN  NaN  a NaN
27324  AU000005901  18641231  TMAX  -28  NaN  NaN  E NaN
27325  AU000005901  18641231  TMIN  -79  NaN  NaN  E NaN
27326  GM000004204  18641231  TMAX  -34  NaN  NaN  E NaN
27327  GM000004204  18641231  TMIN -119  NaN  NaN  E NaN
27328  GM000004204  18641231  PRCP    0  NaN  NaN  E NaN
27329  ASN00075048  18641231  PRCP    0  NaN  NaN  a NaN
27330  UK000047811  18641231  TMAX   40  NaN  NaN  E NaN
27331  UK000047811  18641231  TMIN  -14  NaN  NaN  E NaN
27332  UK000047811  18641231  PRCP    0  NaN  NaN  E NaN
27333  HR000142360  18641231  PRCP    0  NaN  NaN  E NaN
27334  ASN00084016  18641231  PRCP   18  NaN  NaN  a NaN
27335  ITE00100553  18641231  PRCP    0  NaN  NaN  E NaN
27336  ITE00100552  18641231  PRCP    0  NaN  NaN  E NaN
27337  ITE00105250  18641231  PRCP    0  NaN  NaN  E NaN
27338  USP00CA0001  18641231  PRCP  157  NaN  NaN  F NaN
27339  ASN00090015  18641231  TMAX  239  NaN  NaN  a NaN
27340  ASN00090015  18641231  TMIN  128  NaN  NaN  a NaN
27341  UK000056225  18641231  TMAX   16  NaN  NaN  E NaN
27342  UK000056225  18641231  TMIN  -19  NaN  NaN  E NaN
27343  UK000056225  18641231  PRCP    3  NaN  NaN  E NaN
27344  ASN00026026  18641231  PRCP    0  NaN  NaN  a NaN
27345  ASN00089049  18641231  PRCP    0  NaN  NaN  a NaN
27346  SZ000006717  18641231  TMAX  -62  NaN  NaN  G NaN
27347  SZ000006717  18641231  TMIN -105  NaN  NaN  G NaN

[27348 rows x 8 columns]

In [2]:
#url = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz'

#df_weather = pd.read_csv(url, 
#                         compression='gzip', #decompress gzip
#                         header=None) #use no header information from the csv


> **Ex. 4.1.2:** Structure your weather DataFrame by using only the relevant columns (station identifier, data, observation type, observation value), rename them. Make sure observations are correctly formated (how many decimals should we add? one?).

> *Hint:* rename can be done with `df.columns=COLS` where `COLS` is a list of column names.

In [20]:
# [Answer to Ex. 4.1.2]
df_weather2 = df_weather.iloc[:,:4]
#print(df_weather2)
columns_name = ['station', 'data', 'obs_type', 'obs_value']
df_weather2.columns = columns_name
print(df_weather2)
#df_weather2['Value'] = df_weather2['Value'] / 10

           station      data obs_type  obs_value
0      ITE00100550  18640101     TMAX         10
1      ITE00100550  18640101     TMIN        -23
2      ITE00100550  18640101     PRCP         25
3      ASN00079028  18640101     PRCP          0
4      USC00064757  18640101     PRCP        119
5      SF000208660  18640101     PRCP          0
6      ASN00089000  18640101     PRCP          0
7      SWE00100003  18640101     PRCP          0
8      ASN00086071  18640101     TMAX        214
9      ASN00086071  18640101     TMIN        101
10     ASN00086071  18640101     PRCP          0
11     USP00CA0003  18640101     PRCP          0
12     USC00189674  18640101     PRCP          0
13     USC00144559  18640101     PRCP          0
14     USC00144559  18640101     SNOW          0
15     CA006158350  18640101     TMAX         11
16     CA006158350  18640101     TMIN       -133
17     CA006158350  18640101     PRCP          5
18     CA006158350  18640101     SNOW          5
19     HRE00105189  18640101     PRCP        189
20     ASN00067054  18640101     PRCP         61
21     ASN00081003  18640101     PRCP          0
22     ASN00078037  18640101     PRCP          0
23     ASN00070037  18640101     PRCP          0
24     EIE00101859  18640101     TMAX         94
25     EIE00101859  18640101     TMIN         11
26     EIE00101859  18640101     PRCP         82
27     ASN00040214  18640101     PRCP          3
28     BE000006447  18640101     TMAX        -23
29     BE000006447  18640101     TMIN        -36
...            ...       ...      ...        ...
27318  ASN00066062  18641231     TMAX        223
27319  ASN00066062  18641231     TMIN        172
27320  ASN00066062  18641231     PRCP         41
27321  ASN00023000  18641231     PRCP          0
27322  SW000010537  18641231     PRCP          0
27323  ASN00022018  18641231     PRCP          0
27324  AU000005901  18641231     TMAX        -28
27325  AU000005901  18641231     TMIN        -79
27326  GM000004204  18641231     TMAX        -34
27327  GM000004204  18641231     TMIN       -119
27328  GM000004204  18641231     PRCP          0
27329  ASN00075048  18641231     PRCP          0
27330  UK000047811  18641231     TMAX         40
27331  UK000047811  18641231     TMIN        -14
27332  UK000047811  18641231     PRCP          0
27333  HR000142360  18641231     PRCP          0
27334  ASN00084016  18641231     PRCP         18
27335  ITE00100553  18641231     PRCP          0
27336  ITE00100552  18641231     PRCP          0
27337  ITE00105250  18641231     PRCP          0
27338  USP00CA0001  18641231     PRCP        157
27339  ASN00090015  18641231     TMAX        239
27340  ASN00090015  18641231     TMIN        128
27341  UK000056225  18641231     TMAX         16
27342  UK000056225  18641231     TMIN        -19
27343  UK000056225  18641231     PRCP          3
27344  ASN00026026  18641231     PRCP          0
27345  ASN00089049  18641231     PRCP          0
27346  SZ000006717  18641231     TMAX        -62
27347  SZ000006717  18641231     TMIN       -105

[27348 rows x 4 columns]

In [4]:
#df_weather = df_weather.iloc[:,:4] # select only first four columns

#column_names = ['station', 'datetime', 'obs_type', 'obs_value']
#df_weather.columns = column_names # set column names

#df_weather['obs_value'] = df_weather['obs_value'] / 10 # convert last digit to decimal

# DOES NOT WORK FOR SNOW DATA!!


> **Ex. 4.1.3:**  Select data for the station `ITE00100550` and only observations for maximal temperature. Make a copy of the DataFrame. Explain in a one or two sentences how copying works.

> *Hint 1*: the `&` operator works elementwise on boolean series (like `and` in core python).

> *Hint 2*: copying of the dataframe is done with the `copy` method for DataFrames.

In [1]:
# [Answer to Ex. 4.1.3]
select_station = df_weather2.station == 'ITE00100550'
select_max = df_weather2.obs_type == 'TMAX'
select_row = select_station & select_max
df_select = df_weather2[select_row].copy()
print(df_select.head(10))

NameError: name 'df_weather2' is not defined

In [13]:
#select_stat = df_weather.station == 'ITE00100550' # boolean: first weather station
#select_tmax = df_weather.obs_type == 'TMAX' # boolean: maximal temp.

#select_rows = select_stat & select_tmax # row selection - require both conditions

#df_select = df_weather[select_rows].copy() # apply selection and copy

# Copying of the dataframe breaks the dependency with original 
# DataFrame `df_weather`. If dependency is not broken then changing values 
# in one of the two dataframes would imply changes in the other.

> **Ex. 4.1.4:** Make a new column called `TMAX_F` where you have converted the temperature variables to Fahrenheit. 

> *Hint*: Conversion is $F = 32 + 1.8*C$ where $F$ is Fahrenheit and $C$ is Celsius.

In [27]:
# [Answer to Ex. 4.1.4]

df_select['TMAX_F'] = 32 + 1.8 * df_select['obs_value']
df_select.head(10)

         station      data obs_type  obs_value  TMAX_F
0    ITE00100550  18640101     TMAX         10    50.0
75   ITE00100550  18640102     TMAX          8    46.4
152  ITE00100550  18640103     TMAX        -28   -18.4
227  ITE00100550  18640104     TMAX          0    32.0
305  ITE00100550  18640105     TMAX        -19    -2.2
383  ITE00100550  18640106     TMAX        -13     8.6
460  ITE00100550  18640107     TMAX         -4    24.8
538  ITE00100550  18640108     TMAX         13    55.4
618  ITE00100550  18640109     TMAX         13    55.4
695  ITE00100550  18640110     TMAX          6    42.8

In [11]:
#df_select['TMAX_F'] = 32 + 1.8 * df_select['obs_value']

In [12]:
#df_select.head()

         station  datetime obs_type  obs_value  TMAX_F
0    ITE00100550  18640101     TMAX        1.0   33.80
75   ITE00100550  18640102     TMAX        0.8   33.44
152  ITE00100550  18640103     TMAX       -2.8   26.96
227  ITE00100550  18640104     TMAX        0.0   32.00
305  ITE00100550  18640105     TMAX       -1.9   28.58

> **Ex 4.1.5:**  Inspect the indices, are they following the sequence of natural numbers, 0,1,2,...? If not, reset the index and make sure to drop the old.

In [ ]:
# [Answer to Ex. 4.1.5]

In [30]:
df_select = df_select.reset_index(drop=True)
df_select.head()

       station      data obs_type  obs_value  TMAX_F
0  ITE00100550  18640101     TMAX         10    50.0
1  ITE00100550  18640102     TMAX          8    46.4
2  ITE00100550  18640103     TMAX        -28   -18.4
3  ITE00100550  18640104     TMAX          0    32.0
4  ITE00100550  18640105     TMAX        -19    -2.2

> **Ex 4.1.6:** Make a new DataFrame where you have sorted by the maximum temperature. What is the date for the first and last observations?

In [33]:
# [Answer to Ex. 4.1.6]
df_sort = df_select.sort_values(by=['obs_value'])
#df_sort.head()
print('Minimum temp: ', df_sort['obs_value'].iloc[0], 'Maximum temp: ', df_sort['obs_value'].iloc[-1])

Minimum temp:  -63 Maximum temp:  348

In [24]:
#df_sorted = df_select.sort_values(by=['obs_value'])
#print("Min temp: ", df_sorted['obs_value'].iloc[0] , "Max temp: ", df_sorted['obs_value'].iloc[-1])

Min temp:  -6.3 Max temp:  34.8

> **Ex 4.1.7:** CVS-files: save your DataFrame as a CSV file. what does index argument do?

> Try to save the file using a relative path and an absolut path. 
With a relative you only specify the file name. This will save the file in the folder you are currently working in. With an absolute path, you specify the whole path, which allows you to save the file in a folder of your choice

In [ ]:
# [Answer to Ex. 4.1.7]

In [34]:
# Using relativ path
df_sort.to_csv('Exercise_4_answers.csv', index=False)
# Using absolute path
#df_sorted.to_csv('C:/Users/rch690/Downloads/df_sorted.csv', index=False)
# The index argument regulates whether or not the index is transfered to the CSV-file. Default is that it is transfered.

> (Bonus) **Ex. 4.1.8**: A very compact way of writing code and making list in Python, is called list comprehensions. Depending on what you are doing, list can be more or less efficient that for example vectorized operations using NumPy. 

>Read about list comprehenseions online, and use it to make a list with the numbers from 0 to a million (10\*\*6), and add 3 to each element. Do the same doing NumPy, and time both methods. Which method is faster? 

> *Hint 1*: Use the `timeit` package for timing each method

In [40]:
%%timeit
[i+3 for i in range(10**6)]

106 ms ± 14.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [45]:
%%timeit
np.arange(10**6)+3

4.14 ms ± 265 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)