# Exercise Set 7: Data structuring  3

*Morning, August 16, Morning*

In this Exercise Set we finalize our work with the weather data we started working on in Exercise Set 4. We will also study a dataset of traffic data from Copenhagen to iterate through the pandas workflow once more.

In [1]:
%matplotlib inline 

import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl

# Increases the plot size a little
mpl.rcParams['figure.figsize'] = 11, 6

## Exercise Section 7.1: Weather data, part 3
We continue with the final part of three exercises on structuring weather data. In this exercise you must use the function for fetching and structuring weather data which you made in Exercise 6.1.5.

> **Ex. 7.1.1:** Plot the monthly max,min, mean, first and third quartiles for maximum temperature for our station with the ID _'ITE00100550'_ in 1864. 

> *Hint*: the method `describe` computes all these measures.

In [17]:
# [Answer to Ex. 7.1.1]
url = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz'
format_wdf = pd.read_csv(url, compression='gzip', header=None).iloc[:,:4]
format_wdf.columns = ['station', 'datetime', 'obs_type', 'obs_value']
format_wdf['obs_value'] = format_wdf['obs_value'] / 10

def format_w(s):
    s = s[s.obs_type == 'TMAX']
    return s

format_w(format_wdf)
format_wdf.describe()

#print(df.head())

#df_station = df['station'] == 'ITE00100550'

#split_vars = ['sex']
#apply_vars = ['total_bill']
#apply_fcts = ['mean']
#tips\
#    .groupby(split_vars)\
#    [apply_vars]\
#    .agg(apply_fcts)
#df[station['ITE00100550']].describe()

           datetime     obs_value
count  2.734800e+04  27348.000000
mean   1.864066e+07      5.192559
std    3.458554e+02      9.795805
min    1.864010e+07   -666.000000
25%    1.864033e+07      0.000000
50%    1.864063e+07      0.500000
75%    1.864093e+07      9.525000
max    1.864123e+07    144.800000

> **Ex. 7.1.2:** Get the processed data from years 1864-1867 as a list of DataFrames. Convert the list into a single DataFrame by concatenating vertically.

In [31]:
# [Answer to Ex. 7.1.2]
df1 = pd.read_csv('weather_data_1864to1867.csv')
df1.head()

       station  datetime obs_type  obs_value  TMAX_F datetime_dt  year
0  SZ000006717  18640226     TMAX      -34.0  -29.20  1864-02-26  1864
1  SZ000006717  18640208     TMAX      -17.4    0.68  1864-02-08  1864
2  CA006158350  18640217     TMAX      -16.7    1.94  1864-02-17  1864
3  SZ000006717  18640103     TMAX      -16.5    2.30  1864-01-03  1864
4  CA006158350  18640102     TMAX      -16.1    3.02  1864-01-02  1864

> **Ex. 7.1.3:** Parse the station location data which you can find at https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt. Merge station locations onto the weather data spanning 1864-1867.  

> _Hint:_ The location data have the folllowing format, 

```
------------------------------
Variable   Columns   Type
------------------------------
ID            1-11   Character
LATITUDE     13-20   Real
LONGITUDE    22-30   Real
ELEVATION    32-37   Real
STATE        39-40   Character
NAME         42-71   Character
GSN FLAG     73-75   Character
HCN/CRN FLAG 77-79   Character
WMO ID       81-85   Character
------------------------------
```

> *Hint*: The station information has fixed width format - does there exist a pandas reader for that?

In [35]:
# [Answer to Ex. 7.1.3]
url2 = 'https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/ghcnd-stations.txt'
location_data = pd.read_fwf(url2, header=None)
location_data.columns = ['station', 'latitude', 'longitude', 'elevation','state', 'name','GSN_flag', 'HCN_flag']

df2 = pd.merge(df1, location_data, how='outer')
print(df2.head(2))

       station    datetime obs_type  obs_value  TMAX_F datetime_dt    year  \
0  SZ000006717  18640226.0     TMAX      -34.0  -29.20  1864-02-26  1864.0
1  SZ000006717  18640208.0     TMAX      -17.4    0.68  1864-02-08  1864.0

   latitude  longitude  elevation                    state name GSN_flag  \
0   45.8667     7.1667     2472.0  COL DU GRAND ST-BERNARD  NaN      GSN
1   45.8667     7.1667     2472.0  COL DU GRAND ST-BERNARD  NaN      GSN

   HCN_flag
0    6717.0
1    6717.0

## Exercise Section 7.2: Traffic data in Copenhagen

In this second part of exercise set 7 you will be working with traffic data from Copenhagen Municipality.

The municipality have made the data openly available through the [opendata.dk](http://www.opendata.dk/) platform. We will use the data from traffic counters to construct a dataset of hourly traffic. We will use this data to get basic insights on the development in traffic over time and relate it to weather. The gist here is to practice a very important skill in Data Science: being able to quickly fetch data from the web and structure it so that you can work with it. Scraping usually gets a bit more advanced than what we will do today, but the following exercises should give you a taste for how it works. The bulk of these exercise, however, revolve around using the Pandas library to structure and analyze data.

### Part 7.2.a: getting some data to work with

Hence follows a simple scraping exercise where you (1) collect urls for datasets in the webpage listing data on traffic counters and (2) use these urls to load the data into one dataframe.

> **Ex. 7.2.1:** Using the requests module, extract the html markup of the webpage data.kk.dk/dataset/faste-trafiktaellinger and store it as a string in a new variable.

In [51]:
# [Answer to Ex. 7.2.1]
import requests 
response = requests.get('https://data.kk.dk/dataset/faste-trafiktaellinger') 
response.ok

response_str = response.text
type(response_str)


#import re
#urls = re.findall(r'response=[\'"]?([^\'" >]+)', s)
#print(', '.join(urls))

str

> **Ex. 7.2.2:** Using the re module, extract a list of all the urls in the html string and store them in a new variable.

> _Hint:_ Try using the re.findall method. You may want to Google around to figure out how to do this. Protip: searching for something along the lines of "extract all links in html regex python" and hitting the first StackOverflow link will probably get you farther than reading elaborate documentation.

In [53]:
# [Answer to Ex. 7.2.2]
import re 
urls = re.findall(r'href=[\'"]?([^\'" >]+)', response_str)
print(urls)

['/fanstatic/vendor/:version:2017-02-24T11:53:25/select2/select2.css', '/fanstatic/css/:version:2017-02-24T11:53:25/main.min.css', '/fanstatic/vendor/:version:2017-02-24T11:53:25/font-awesome/css/font-awesome.min.css', '/fanstatic/vendor/:version:2017-02-24T11:53:25/font-awesome/css/font-awesome-ie7.min.css', '/fanstatic/ckanext-geoview/:version:2017-11-10T15:39:58/css/geo-resource-styles.css', '/fanstatic/ckanext-harvest/:version:2016-02-03T11:14:04/styles/harvest.css', '/fanstatic/cphopendata/:version:2016-07-01T10:53:26/style.css', '/favicon.ico', '#content', '/user/login', '/user/register', '/', '/dataset', '/organization', '/group', '/about', '/', '/organization', '/organization/its', '/dataset/faste-trafiktaellinger', '/dataset/faste-trafiktaellinger', '/dataset/groups/faste-trafiktaellinger', '/dataset/activity/faste-trafiktaellinger', '/dataset/faste-trafiktaellinger/resource/dcb49b51-1a17-40f6-82b4-34eaf58bce57', '#', '/dataset/faste-trafiktaellinger/resource/dcb49b51-1a17-40f6-82b4-34eaf58bce57', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/dcb49b51-1a17-40f6-82b4-34eaf58bce57/download/faste-trafiktaellinger-2005.xlsx', '/dataset/faste-trafiktaellinger/resource/0bfc0425-0b2f-43b4-be71-117b4265598d', '#', '/dataset/faste-trafiktaellinger/resource/0bfc0425-0b2f-43b4-be71-117b4265598d', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/0bfc0425-0b2f-43b4-be71-117b4265598d/download/faste-trafiktaellinger-2006.xlsx', '/dataset/faste-trafiktaellinger/resource/f52749f9-6f90-4f63-a151-c4020d4b2396', '#', '/dataset/faste-trafiktaellinger/resource/f52749f9-6f90-4f63-a151-c4020d4b2396', 'http://data.kk.dk/storage/f/2015-05-11T07%3A35%3A06.512Z/faste-trafiktaellinger-2007.xlsx', '/dataset/faste-trafiktaellinger/resource/e4f321ad-76bc-483f-839e-e04cfea6bfc0', '#', '/dataset/faste-trafiktaellinger/resource/e4f321ad-76bc-483f-839e-e04cfea6bfc0', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/e4f321ad-76bc-483f-839e-e04cfea6bfc0/download/faste-trafiktaellinger-2008.xlsx', '/dataset/faste-trafiktaellinger/resource/bac5c582-bdd0-45db-b174-f835e82851bc', '#', '/dataset/faste-trafiktaellinger/resource/bac5c582-bdd0-45db-b174-f835e82851bc', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/bac5c582-bdd0-45db-b174-f835e82851bc/download/faste-trafiktaellinger-2009.xlsx', '/dataset/faste-trafiktaellinger/resource/a209aef9-802c-4cda-9b42-f4364877b04f', '#', '/dataset/faste-trafiktaellinger/resource/a209aef9-802c-4cda-9b42-f4364877b04f', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/a209aef9-802c-4cda-9b42-f4364877b04f/download/faste-trafiktaellinger-2010.xlsx', '/dataset/faste-trafiktaellinger/resource/8b2f60a9-17ac-437d-ae6e-ad44c0a49edd', '#', '/dataset/faste-trafiktaellinger/resource/8b2f60a9-17ac-437d-ae6e-ad44c0a49edd', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/8b2f60a9-17ac-437d-ae6e-ad44c0a49edd/download/faste-trafiktaellinger-2011.xlsx', '/dataset/faste-trafiktaellinger/resource/d41f5bc7-9834-4698-ad2c-3a4dc15d124a', '#', '/dataset/faste-trafiktaellinger/resource/d41f5bc7-9834-4698-ad2c-3a4dc15d124a', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/d41f5bc7-9834-4698-ad2c-3a4dc15d124a/download/faste-trafiktaellinger-2012.xlsx', '/dataset/faste-trafiktaellinger/resource/3cbd235e-9904-44b4-83f1-35630dbd8acc', '#', '/dataset/faste-trafiktaellinger/resource/3cbd235e-9904-44b4-83f1-35630dbd8acc', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/3cbd235e-9904-44b4-83f1-35630dbd8acc/download/faste-trafiktaellinger-2013.xlsx', '/dataset/faste-trafiktaellinger/resource/03f2768e-0ff0-4b42-9d3d-be268e131088', '#', '/dataset/faste-trafiktaellinger/resource/03f2768e-0ff0-4b42-9d3d-be268e131088', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/03f2768e-0ff0-4b42-9d3d-be268e131088/download/faste-trafiktaellinger-2014.xlsx', '/dataset?tags=biler', '/dataset?tags=faste+t%C3%A6llestationer', '/dataset?tags=motork%C3%B8ret%C3%B8jer', '/dataset?tags=t%C3%A6llinger', '/organization/its', '/organization/about/its', 'https://plus.google.com/share?url=https://data.kk.dk/dataset/faste-trafiktaellinger', 'https://twitter.com/share?url=https://data.kk.dk/dataset/faste-trafiktaellinger', 'https://www.facebook.com/sharer.php?u=https://data.kk.dk/dataset/faste-trafiktaellinger', 'http://portal.opendata.dk/dataset/open-data-dk-licens', 'http://opendefinition.org/okd/', 'https://twitter.com/datakkdk', 'http://blog.data.kk.dk', 'http://data.kk.dk/labs', 'http://kbhkort.kk.dk', 'http://opendata.dk', 'http://www.digst.dk/Servicemenu/Cookies/om-cookies']

> **Ex. 7.2.3:** Create a new variable that only contains the links that point to downloadable traffic data sheets. 

> _Hint:_ You want to filter the results from above. For example to only include urls with the term 'download' in them.

In [57]:
# [Answer to Ex. 7.2.3]
traffic = re.findall('https:\S+download\S+', response_str)
print(traffic)

['https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/dcb49b51-1a17-40f6-82b4-34eaf58bce57/download/faste-trafiktaellinger-2005.xlsx"', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/0bfc0425-0b2f-43b4-be71-117b4265598d/download/faste-trafiktaellinger-2006.xlsx"', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/e4f321ad-76bc-483f-839e-e04cfea6bfc0/download/faste-trafiktaellinger-2008.xlsx"', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/bac5c582-bdd0-45db-b174-f835e82851bc/download/faste-trafiktaellinger-2009.xlsx"', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/a209aef9-802c-4cda-9b42-f4364877b04f/download/faste-trafiktaellinger-2010.xlsx"', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/8b2f60a9-17ac-437d-ae6e-ad44c0a49edd/download/faste-trafiktaellinger-2011.xlsx"', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/d41f5bc7-9834-4698-ad2c-3a4dc15d124a/download/faste-trafiktaellinger-2012.xlsx"', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/3cbd235e-9904-44b4-83f1-35630dbd8acc/download/faste-trafiktaellinger-2013.xlsx"', 'https://data.kk.dk/dataset/5f9345b0-d73b-43ff-a659-e468d160bc61/resource/03f2768e-0ff0-4b42-9d3d-be268e131088/download/faste-trafiktaellinger-2014.xlsx"']

> **Ex. 7.2.4:** Using pd.read_excel method, load the datasets into a list. Your resulting variable should hold a list of Pandas dataframes.

> _Hint:_ you may want to set the skiprows= keyword argument.

In [66]:
# [Answer to Ex. 7.2.4]

df5 = [pd.DataFrame()]

for i in traffic: 
    xlxs = pd.read_excel(i, skiprows=10)
    df = xlxs

#    df5 = df5.append(xlxs)

print(type(df5))

<class 'list'>

> **Ex. 7.2.5:** Merge the list of dataframes into a single dataframe.

In [ ]:
# [Answer to Ex. 7.2.5]

### Part 7.2.b Structuring your data

If you successfully completed the previous part, you should now have a dataframe with about 183.397 rows (if your number of rows is close but not the same, worry not—it matters little in the following). Well done! But the data is still in no shape for analysis, so we must clean it up a little.

161.236 rows (and 30 columns) is a lot of data. ~3.3 MB by my back-of-the-envelope calculations, so not "Big Data", but still enough to make your CPU heat up if you don't use it carefully. Pandas is built to handle fairly large dataframes and has advanced functionality to perform very fast operations even when the size of your data grows huge. So instead of working with basic Python we recommend working pandas built-in procedures as they are constructed to be fast on dataframes.

Nerd fact: the reason pandas is much faster than pure Python is that dataframes access a lower level programming languages (namely C, C++) which are multiple times faster than Python. The reason it is faster is that it has a higher level of explicitness and thus is more difficult to learn and navigate.

> **Ex. 7.2.6:** Reset the row indices of your dataframe so the first index is 0 and the last is whatever the number of rows your dataframe has. Also drop the column named 'index' and the one named `Spor`.

In [ ]:
# [Answer to Ex. 7.2.6]

> **Ex. 7.2.7:** Rename variables from Danish to English using the dictionary below.

```python 
dk_to_uk = {
    'Vejnavn':'road_name',
    '(UTM32)':'UTM32_north',
    '(UTM32).1':'UTM32_east',
    'Dato':'date',
    'Vej-Id':'road_id'
}
```

In [ ]:
# [Answer to Ex. 7.2.7]

Python is quite efficient. For example, when you create a new dataframe by manipulating an old one, Python notices that—apart from some minor changes—these two objects are almost the same. Since memory is a precious resource, Python will represent the values in the new dataframe as references to the variables in the old dataset. This is great for performance, but if you for whatever reason change some of the values in your old dataframe, values in the new one will also change—and we don't want that! Luckily, we can break this dependency.

> **Ex. 7.2.8:** Break the dependencies of the dataframe that resulted from Ex. 7.2.7 using the `.copy` method. Delete all other dataframes.

In [ ]:
# [Answer to Ex. 7.2.8]

Once you have structured appropriately, something that you will want to do again and again is selecting subsets of the data. Specifically, it means that you select specific rows in the dataset based on some column values.

>**Ex. 7.2.9:** Create a new column in the dataframe called total that is True when the last letter of road_id is T and otherwise False.

> _Hint:_ you will need the `pd.Series.str` attribute for this.

In [ ]:
# [Answer to Ex. 7.2.9]

> **Ex. 7.2.10:** Select rows where total is True. Delete all the remaining observations.

In [ ]:
# [Answer to Ex. 7.2.10]

> **Ex. 7.2.11:** Make two datasets based on the lists of columns below. Call the dataset with spatial columns data_geo and the other data.

```python
# Columns for `geo_data`, stored in `geo_columns`
spatial_columns = ['road_name', 'UTM32_north', 'UTM32_east']

# Columns for `data`, stored in `select_columns`
hours = ['kl.{}-{}'.format(str(h).zfill(2), str(h+1).zfill(2)) for h in range(24)]
select_columns = ['road_name', 'date'] + hours
```

In [ ]:
# [Answer to Ex. 7.2.11]

> **Ex. 7.2.12:** Drop the duplicate rows in data_geo.

In [ ]:
# [Answer to Ex. 7.2.12]

**Formatting: wide and narrow format**

When talking about two-dimensional data (matrices, tables or dataframes, we can call it many things), we can either say that it is in wide or long format (see explanation here, "wide" and "long" are used interchangably). In Pandas we can use the commands stack and unstack to move between these formats.

The wide format has the advantage that it often requires less storage and is easier to read when printed. On the other hand the long format can be easier for modelling, because each observation has its own row. Turns out that the latter is what we most often need.

> **Ex. 7.2.13:** Turn the dataset from wide to long so hourly data is now vertically stacked. Store this dataset in a dataframe called data. Name the column with hourly information hour_period. Your resulting dataframe should look something like this.

> _Hint:_ pandas' melt function may be of use.

In [ ]:
# [Answer to Ex. 7.2.13]

**Categorical data**

Categorical data can contain Python objects, usually strings. These are smart if you have variables with string observations that are long and often repeated, e.g. with road names.

> **Ex. 7.2.14:** Use the `.astype` method to convert the type of the road_name column to categorical.

In [ ]:
# [Answer to Ex. 7.2.14]

### Structure temporal data

Pandas has native support for working with temporal data. This is handy as much 'big data' often has time stamps which we can make Pandas aware of. Once we have encoded temporal data it can be used to extract information such as the hour, second etc.

> **Ex. 7.2.15:** Create a new column called hour which contains the hour-of-day for each row.

In [ ]:
# [Answer to Ex. 7.2.15]

>**Ex. 7.2.16:** Create a new column called time, that contains the time of the row in datetime format. Delete the old temporal columns (hour, hour_period, date) to save memory.

> _Hint:_ try making an intermediary series of strings that has all temporal information for the row; then use pandas to_datetime function where you can specify the format of the date string.

In [ ]:
# [Answer to Ex. 7.2.16]

> **Ex. 7.2.17:** Using your time column make a new column called weekday which stores the weekday (in values between 0 and 6) of the corresponding datetime.

> _Hint:_ try using the dt method for the series called time; dt has some relevant methods itself.

In [ ]:
# [Answer to Ex. 7.2.17]

### Statistical descriptions of traffic data

> **Ex. 7.2.18:** Print the "descriptive statistics" of the traffic column. Also show a kernel density estimate of the values.

> _Hint:_ Use the describe method of pandas dataframes for the first task. Use seaborn for the second.

In [ ]:
# [Answer to Ex. 7.2.18]

> **Ex. 7.2.19:** Which road has the most average traffic?

In [ ]:
# [Answer to Ex. 7.2.19]

> **Ex. 7.2.20:** Compute annual, average road traffic during day hours (9-17). Which station had the least traffic in 2013? Which station has seen highest growth in traffic from 2013 to 2014?

In [58]:
# [Answer to Ex. 7.2.19]